#kqMot{
    
    font-weight: bold;
    padding: 5px;
    color: #007bff;
   
    
}

#kqHai{
    
    font-weight: bold;
    padding: 5px;
    color: #28a745;
 
}

#kqBa{
    
    font-weight: bold;
    padding: 5px;
    color: #dc3545;
 
}